{% extends "layout.html" %}
{% block content %}
    <h3 id = "course_heading">Previously Added Courses</h3>
    {% for course in courses %}
        <p class=entry>
            <div><span>Department : </span>{{ course.department }}</div> <div><span>Course Number : </span>{{ course.coursenumber }}</div>
	    <div><span>Quarter: </span>{{ course.quarter }} </div>  <div><span>Year : </span>{{ course.year }}</div>
	    <div><span>Instructor : </span> {{ course.instructor }}</div> <div><span>Review : </span>{{ course.review }}</div>
        </p>
    {% endfor %}

{% endblock %}
