body       { font-family: "Helvetica", sans-serif; font-size: 18px; color: #008303; }
a, h1, h2  { color: #00008F; }
h2 {text-align: center;}
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px }
.heading  { font-weight: bold; width: 50%}
.page      { margin:.1em auto; padding:.1em; width: 504px;  }
.entry      { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #888; }
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
span {font-weight: bold; color: black}
input[type=submit] {background-color: green; color: white; padding: 10px; width: 25%; border-radius: 5px}

