{% extends "layout.html" %}
{% block content %}
    <h2>Welcome to Course Page</h2>

    <h3>Add Course <a href="{{ url_for('add') }}">here</a></h3>
    <h3>Previously Added Courses <a href="{{ url_for('courses') }}">here</a></h3>

{% endblock %}
