body       { font-family: "Helvetica", sans-serif; font-size: 18px; color: #008303; background-image: url('background.jpg'); background-repeat: no-repeat;   background-attachment: fixed;
    background-size: cover;}
a, h1, h2  { color: #000; }
h2, h3 {text-align: center;}
.header{
    text-align: center;
    color: black;
}
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px }
.heading  { font-weight: bold; width: 50%}
.page      { margin:.1em auto; padding:2em; width: 60%;  border: 4px solid black; border-radius: 16px;}
.entry      { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #888; }
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 100%;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
.right{color: white;}
span {font-weight: bold; color: white}
input[type=submit] {background-color: black; color: white; padding: 10px; width: 30%; border-radius: 5px; margin: 0 35%;}

