{% extends "layout.html" %}
{% block content %}
    <h2>Welcome to Covid-19 Data Dashboard</h2>

    <h3 class="header">Get Latest Covid Data by Country Name <a href="{{ url_for('name') }}">here</a></h3>
    <h3 class="header">Get Daily Covid-19 Report for all Countries<a href="{{ url_for('date') }}">here</a></h3>

{% endblock %}
