{% extends "layout.html" %}
{% block content %}
    <h2>Latest Covid-19 Data by Country Name</h2>
    <form action="{{ url_for('name') }}" method=post>
	<!--<p class="heading">Name: <input type=text name=name>
	<p class="heading">Email: <input type=text name=email>
        <p class="heading">Message:
	<textarea rows=5 cols=50 name=message></textarea></p>-->
        <input type=text name=name required placeholder="Enter Country name" minlength="3">
	<p><input type=submit value=Search></p>
    </form>

    <h2>Results</h2>
<div id="entries">
    {% for entry in entries %}
        <div class=entry>
            <table>
                <tr>
                    <td><span>Country: </span></td>
                    <td class="right">{{entry.country}}</td>
                </tr>
                <tr>
                    <td><span>Code: </span></td>
                    <td class="right">{{entry.code}}</td>
                </tr>
                <tr>
                    <td><span>Confirmed: </span></td>
                    <td class="right">{{entry.confirmed}}</td>
                </tr>
                <tr>
                    <td><span>Recovered: </span></td>
                    <td class="right">{{entry.recovered}}</td>
                </tr>
                <tr>
                    <td><span>Critical: </span></td>
                    <td class="right">{{entry.critical}}</td>
                </tr>
                <tr>
                    <td><span>Deaths: </span></td>
                    <td class="right">{{entry.deaths}}</td>
                </tr>
                <tr>
                    <td><span>Latitude: </span></td>
                    <td class="right">{{entry.latitude}}</td>
                </tr>
                <tr>
                    <td><span>Longitude: </span></td>
                    <td class="right">{{entry.longitude}}</td>
                </tr>
                <tr>
                    <td><span>Last Change: </span></td>
                    <td class="right">{{entry.lastChange}}</td>
                </tr>
                <tr>
                    <td><span>Last Update: </span></td>
                    <td class="right">{{entry.lastUpdate}}</td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}
